body, html, #root {
  margin:0;
  padding:0;
  background:#000;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  font: 15px 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#title {
  background: rgba(2, 2, 2, .7);
  color: rgba(255, 255, 255, 0.9);
  position:fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  margin:0;
  padding:14px;
  z-index: 2147483647;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}

video {
  position: fixed;
  object-fit: contain;
  width: 100%;
  top:0;
}

#guess-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:1.5em;
}

#incorrect-guess {
  text-decoration: line-through;
}

video::-webkit-media-controls {
  display:none !important;
}

#start {
  z-index: 2147483647;
  position: fixed;
}

.controls {
  z-index: 2147483647;
  padding: 14px;
  margin: 0;
  position: fixed;
  background: rgba(2, 2, 2, .7);
  color: rgba(255, 255, 255, 0.9);
}

#score {
  left:0;
  top:0;
}

#guess {
  z-index: 2147483647;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(2, 2, 2, .7);
  position: fixed;
  display: flex;
}

.timer {
  right: 0%;
  top: 0%;
  border-radius:100%;
  margin-top:10px;
  margin-right:10px;
}